body{
  background-color: #00695c;
}


.titre {
  text-align: center;
  color: black;
  font-family: sans-serif;
  color: #eceff1;
  padding-top: 10px;
}

.encadre {
  text-align: center;
  background-color: rgba(236, 239, 241, 0.5);
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  color: #003d33;
  font-size: 20px;
  padding: 20px;
}
